
.home{
 	text-decoration: none;
	color: black;
 }
.main{

	
	width: 960px;
	height: 500px;
	margin: 0 auto;

}
body div.tira{
	width: 940px;
	height: 30px;
	float:center;
	clear:left;
	background-color: #EEE;
margin: 10px;
}

.pesquisa{
	float:right;
}
}

body div.menu{
width:90%;s
height: 115px;
float:left;
margin: 10px;

}

li{
	float:left;
	margin:20px;
}

body div.banner{
width:100%;
height:500px;
float:left;
background-color:#EEE;
overflow: hidden;
padding-top: 20px;
}

li{
	float:left;
	margin:20px;
	list-style: none none;
}


a{
	text-decoration: none;
	color:black; 
}


body div.destaque{
width:40%;
height: 50px;
float:left;
}


ul{
	margin:0;
}


body div.destaquepeq{
width:20%;
height: 50px;
float:left;
}
